ul li.no-style-type:before {
  content: none !important; }
ul li.no-style-type:after {
  content: none !important; }
ul li.first {
  padding-left: 0 !important; }

.bulletted {
  margin-left: 20px; }
  .bulletted li {
    list-style-type: disc; }

.inline {
  float: left; }
  .inline li {
    display: inline;
    margin-left: 20px; }

body {
  font-size: 13px;
  font-family: "Arial", "sans-serif";
  background-color: #a37907; }

#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white; }
