ul li.no-style-type:before {
  content: none !important; }
ul li.no-style-type:after {
  content: none !important; }
ul li.first {
  padding-left: 0 !important; }

.bulletted {
  margin-left: 20px; }
  .bulletted li {
    list-style-type: disc; }

.inline {
  float: left; }
  .inline li {
    display: inline;
    margin-left: 20px; }

body {
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #a37907;
  line-height: 18px; }

a {
  text-decoration: none; }

#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white; }
  #container #header {
    height: 60px;
    position: relative;
    border-bottom: double #999999; }
    #container #header .title {
      font-size: 36px;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      color: #a37907; }
    #container #header .links {
      position: absolute;
      right: 10px;
      bottom: 10px; }
  #container table {
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }

#navigation {
  text-align: center;
  padding: 0; }
  #navigation ul li {
    list-style-type: none;
    display: inline; }
    #navigation ul li:after {
      content: " |"; }
  #navigation .last:after {
    content: "" !important; }
