-content_for :stylesheets do
  =stylesheet_link_tag "welcome"

.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")

%div{:style => "clear:both"}

%hr

.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")

%div{:style => "clear:both"}

.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")
.preview
  =image_tag("house_placeholder.jpeg")

%div{:style => "clear:both"}

