<!DOCTYPE html>
<html>
<head>
  <title>Restate</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div>
  HEADER IMAGE HEREs
</div>
<hr>
SPACER
<hr>
SEARCH
<hr>
<%= yield %>
<hr>
FOOTER
<hr>
</body>
</html>
